:root {
  --main-bg-color: #FFF;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: var(--main-bg-color);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

/*
-------------------------------------------------------------------
DICE
-------------------------------------------------------------------
*/

.face {
	display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";

	flex: 0 0 auto;
	margin: 33vmin;
	padding: 2vmin;
	width: 30vmin;
	height: 30vmin;

	background-color: #ddd;
	border-radius: 10%;
}

.pip {
	display: block;
	align-self: center;
	justify-self: center;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	background-color: #333;
}

.pip:nth-child(2) {
	grid-area: b;
}
.pip:nth-child(3) {
	grid-area: c;
}
.pip:nth-child(4) {
	grid-area: d;
}
.pip:nth-child(5) {
	grid-area: e;
}
.pip:nth-child(6) {
	grid-area: f;
}
/* This selects the last pip of odd-valued dice (1, 3, 5) and positions the pip in the center */
.pip:nth-child(odd):last-child {
	grid-area: g;
}


/*
-------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------
*/
