:root {
  --main-bg-color: #ddd;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin:0;padding:0;
}

body {
    background-color: var(--main-bg-color);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    margin:0;padding:0;
}

header {
    position: absolute;
    z-index: 2000;
    top: 30px;
    left: 30px;
}



/*
-------------------------------------------------------------------
DICE
-------------------------------------------------------------------
*/

#dices {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.face {
	display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";

	flex: 0 0 auto;
	margin: 6vmin;
	padding: 2vmin;
	width: 25vmin;
	height: 25vmin;

	background-color: #fff;
	border-radius: 10%;
    box-shadow: 0.5vmin 0.4vmin #ccc;
}

.face:empty {
    display: none;
}

.pip {
	display: block;
	align-self: center;
	justify-self: center;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	background-color: #333;
}

.pip:nth-child(2) {
	grid-area: b;
}
.pip:nth-child(3) {
	grid-area: c;
}
.pip:nth-child(4) {
	grid-area: d;
}
.pip:nth-child(5) {
	grid-area: e;
}
.pip:nth-child(6) {
	grid-area: f;
}
/* This selects the last pip of odd-valued dice (1, 3, 5) and positions the pip in the center */
.pip:nth-child(odd):last-child {
	grid-area: g;
}

.animated {
  animation: shake 0.8s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.face:nth-child(1) {
	animation-delay: 0.20s;
}

.face:nth-child(2) {
	animation-delay: 0.04s;
}

.face:nth-child(3) {
	animation-delay: 0.24s;
}

.face:nth-child(4) {
	animation-delay: 0.16s;
}

.face:nth-child(5) {
	animation-delay: 0.08s;
}

.face:nth-child(6) {
	animation-delay: 0.12s;
}

@keyframes shake {
	from {
    transform: translate3d(0, 0, 0);
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

/*
-------------------------------------------------------------------
HAMBURGER-ICON
-------------------------------------------------------------------
*/

label.hamburger {
   display: block;
   width: 75px;
   height: 50px;
   position: relative;
   border-radius: 4px;
}

input#hamburger {display:none}

.line {
   position: absolute;
   left:10px;
   height: 4px; width: 55px;
   background: #fff; border-radius: 2px;
   display: block;
   transition: 0.5s;
   transform-origin: center;
}

.line:nth-child(1) { top: 12px; }
.line:nth-child(2) { top: 24px; }
.line:nth-child(3) { top: 36px; }

#hamburger:checked + .hamburger .line:nth-child(1){
   transform: translateY(12px) rotate(-45deg);
}

#hamburger:checked + .hamburger .line:nth-child(2){
   opacity:0;
}

#hamburger:checked + .hamburger .line:nth-child(3){
   transform: translateY(-12px) rotate(45deg);
}

/*
-------------------------------------------------------------------
SIDE NAVIGATION
-------------------------------------------------------------------
*/

nav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #666; /* Black*/
  opacity: 0.9;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 90px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.open {
    width: 320px;
}

/*
-------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------
*/
